/* Write your CSS here */
.container{
    height:100vh;
    width:auto;
    background-image: url("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.card{
    height:500px;
    width:500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0px 4px 16px 0px #bfbfbf;
    background-color:#ffffff;


}

.heading{
    color:#0b69ff;
    font-family:"roboto";
}

.number{
    color:#0b69ff;
    font-family:"roboto";
}

.button{
    height:30px;
    width:100px;
    background-color:#0b69ff;
    color:25px;
    border:none;
    border-radius:10px;
}